.main {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightPanel {
  display: flex;
  flex-direction: column; /* Column layout for mobile */
  justify-content: flex-start;
  gap: 20px;
}

@media (min-width: 768px) {
  .rightPanel {
    flex-direction: row; /* Row layout for desktop */
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--font);
  font-size: 1.7rem;
  font-weight: 200;
  color: #666666;
}

.body {
  font-family: var(--font);
  font-size: 0.9rem;
  font-weight: 300;
  width: 500px;
  color: #666666;
}

.textContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.colorButtonGrid {
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns for mobile */
  grid-auto-rows: minmax(auto, 1fr); /* Rows adjust to content size */
  grid-gap: 10px;
  width: fit-content;
}

@media (min-width: 768px) {
  .colorButtonGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for desktop */
  }
}

.styleButtonRow {
  display: flex;
  flex-direction: row; /* Row layout for mobile */
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .styleButtonRow {
    flex-direction: column; /* Column layout for desktop */
    align-items: flex-start;
  }
}

.styleButton {
  font-family: var(--font);
  cursor: pointer;
  color: #666;
}

.styleButton:hover {
  opacity: 0.7;
}

.styleButton.selected {
  color: black;
  text-decoration: underline;
}

.generateButton {
  font-family: var(--font);
  cursor: pointer;
}

.generateButton:hover {
  opacity: 0.7;
}
