.colorButton {
  width: 5vh;
  height: 5vh;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.6;
  border: 1px solid transparent;
}

.colorButton:hover {
  opacity: 0.8;
}

.colorButton.selected {
  opacity: 1;
}

.colorButton.whiteBorder {
  border: 1.6px solid black;
  opacity: 0.6;
}

.colorButton.whiteBorder:hover {
  opacity: 0.8;
}

.colorButton.whiteBorder.selected {
  opacity: 1;
}
