.colorButton {
  width: 5vh;
  height: 5vh;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.6;
  box-shadow: inset 0 0 0 1.6px rgba(0, 0, 0, 0);
}

.colorButton:hover {
  opacity: 0.8;
}

.colorButton.selected {
  opacity: 1;
}

.colorButton.whiteBorder {
  box-shadow: inset 0 0 0 1.6px rgba(0, 0, 0, 0.6);
  opacity: 0.6;
}

.colorButton.whiteBorder:hover {
  box-shadow: inset 0 0 0 1.6px rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}

.colorButton.whiteBorder.selected {
  box-shadow: inset 0 0 0 1.6px rgba(0, 0, 0, 1);
  opacity: 1;
}
