.cell {
  border-radius: 10px;
  cursor: pointer;
  position: relative; /* Ensure relative positioning for child absolute elements */
}

.copyIcon {
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
  opacity: 0;
}

.copyIcon > svg {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.15s ease-in-out;
}

.copied > svg:first-child { /* Target the CopyIcon specifically */
  opacity: 0;
}

.cell:hover .copyIcon {
  opacity: 1;
}

.cell:hover .hexText {
  opacity: 0;
}

.hexText {
  font-family: var(--font);
  padding-left: 4px;
  padding-top: 4px;
  margin: 3px 0 0 3px;
  font-size: 0.56rem;
  font-weight: 300;
  color: #666666;
  text-align: left;
  text-transform: uppercase;
  transition: opacity 0.15s ease-in-out;
}
