.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust based on your layout needs */
  gap: 0px; /* Space between grid items */
  /* Add other styling as needed */
  width: fit-content;
}

.gridItem {
  width: 7.25vh; /* Adjust size as needed */
  height: 7.25vh; /* Adjust size as needed */
  border-radius: 10px;
  cursor: pointer;
  /* Add other styling as needed */
}

.cell {
  border-radius: 10px;
  cursor: pointer;
}

.hexText {
  font-family: var(--font);
  padding-left: 4px;
  padding-top: 4px;
  margin: 3px 0 0 3px;
  font-size: 0.56rem;
  font-weight: 300;
  color: #666666;
  text-align: left;
  text-transform: uppercase;
  /* transition: opacity 0.15s ease-in-out; */
}

.copyIcon {
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  display: none;
  /* opacity: 0; */
  /* transition: opacity 0.15s ease-in-out; */
}

.cell:hover .copyIcon {
  display: block;
  /* opacity: 1; */
}

.cell:hover .hexText {
  display: none;
  /* opacity: 0; */
}

@media (min-width: 768px) {
  .hexText {
    font-size: 0.77rem;
  }
}