.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust based on your layout needs */
  gap: 0px; /* Space between grid items */
  /* Add other styling as needed */
  width: fit-content;
}

.gridItem {
  width: 10vh; /* Adjust size as needed */
  height: 10vh; /* Adjust size as needed */
  border-radius: 10px;
  cursor: pointer;
  /* Add other styling as needed */
}

.hexText {
  font-family: var(--font);
  margin: 3px 0 0 3px;
  font-size: 0.8rem;
  font-weight: 300;
  color: #666666;
  text-align: left;
}

.cell {
  border-radius: 10px;
  cursor: pointer;
}